@import "./styles/tokens.css";
@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  * {
    box-sizing: border-box;
    @apply border-primary;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-default font-body text-primary antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    main,
    main * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  a {
    @apply transition-colors duration-150;
  }
  html {
    @apply font-sans;
  }
}
